web/static/wsdl/SoSo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Versio 1.0 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://xml.vrk.fi/schema/vtjkysely">
      <s:import namespace="http://xml.vrk.fi/schema/vtjkysely"
                schemaLocation="OPHREK.xsd" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HaeTuotteenSkeema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="laji" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaeTuotteenSkeemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HaeTuotteenSkeemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeHenkilonTunnusKysely">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Henkilotunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SahkoinenAsiointitunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VarmenteenMyontaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="X509Certificate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VarmenteenVoimassaolotarkistus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VarmenteenSulkulistatarkistus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tunnistusportaali" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeHenkilonTunnusKyselyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeeHenkilonTunnusKyselyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeHenkilonTunnistusKysely">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HakuXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeHenkilonTunnistusKyselyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeeHenkilonTunnistusKyselyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeHenkilonPoimintaKysely">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HakuXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeHenkilonPoimintaKyselyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeeHenkilonPoimintaKyselyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeRakennusTunnusKysely">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rakennustunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Huoneistotunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeRakennusTunnusKyselyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeeRakennusTunnusKyselyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeRakennuksenTunnistusKysely">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HakuXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeRakennuksenTunnistusKyselyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeeRakennuksenTunnistusKyselyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeKiinteistoTunnusKysely">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kiinteistotunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeKiinteistoTunnusKyselyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeeKiinteistoTunnusKyselyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeKiinteistonTunnistusKysely">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoSoNimi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Kayttajatunnus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Salasana" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Loppukayttaja" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Laskutustiedot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HakuXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Vara1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TeeKiinteistonTunnistusKyselyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TeeKiinteistonTunnistusKyselyResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HaeTuotteenSkeemaSoapIn">
    <wsdl:part name="parameters" element="tns:HaeTuotteenSkeema" />
  </wsdl:message>
  <wsdl:message name="HaeTuotteenSkeemaSoapOut">
    <wsdl:part name="parameters" element="tns:HaeTuotteenSkeemaResponse" />
  </wsdl:message>
  <wsdl:message name="TeeHenkilonTunnusKyselySoapIn">
    <wsdl:part name="parameters" element="tns:TeeHenkilonTunnusKysely" />
  </wsdl:message>
  <wsdl:message name="TeeHenkilonTunnusKyselySoapOut">
    <wsdl:part name="parameters" element="tns:TeeHenkilonTunnusKyselyResponse" />
  </wsdl:message>
  <wsdl:message name="TeeHenkilonTunnistusKyselySoapIn">
    <wsdl:part name="parameters" element="tns:TeeHenkilonTunnistusKysely" />
  </wsdl:message>
  <wsdl:message name="TeeHenkilonTunnistusKyselySoapOut">
    <wsdl:part name="parameters" element="tns:TeeHenkilonTunnistusKyselyResponse" />
  </wsdl:message>
  <wsdl:message name="TeeHenkilonPoimintaKyselySoapIn">
    <wsdl:part name="parameters" element="tns:TeeHenkilonPoimintaKysely" />
  </wsdl:message>
  <wsdl:message name="TeeHenkilonPoimintaKyselySoapOut">
    <wsdl:part name="parameters" element="tns:TeeHenkilonPoimintaKyselyResponse" />
  </wsdl:message>
  <wsdl:message name="TeeRakennusTunnusKyselySoapIn">
    <wsdl:part name="parameters" element="tns:TeeRakennusTunnusKysely" />
  </wsdl:message>
  <wsdl:message name="TeeRakennusTunnusKyselySoapOut">
    <wsdl:part name="parameters" element="tns:TeeRakennusTunnusKyselyResponse" />
  </wsdl:message>
  <wsdl:message name="TeeRakennuksenTunnistusKyselySoapIn">
    <wsdl:part name="parameters" element="tns:TeeRakennuksenTunnistusKysely" />
  </wsdl:message>
  <wsdl:message name="TeeRakennuksenTunnistusKyselySoapOut">
    <wsdl:part name="parameters" element="tns:TeeRakennuksenTunnistusKyselyResponse" />
  </wsdl:message>
  <wsdl:message name="TeeKiinteistoTunnusKyselySoapIn">
    <wsdl:part name="parameters" element="tns:TeeKiinteistoTunnusKysely" />
  </wsdl:message>
  <wsdl:message name="TeeKiinteistoTunnusKyselySoapOut">
    <wsdl:part name="parameters" element="tns:TeeKiinteistoTunnusKyselyResponse" />
  </wsdl:message>
  <wsdl:message name="TeeKiinteistonTunnistusKyselySoapIn">
    <wsdl:part name="parameters" element="tns:TeeKiinteistonTunnistusKysely" />
  </wsdl:message>
  <wsdl:message name="TeeKiinteistonTunnistusKyselySoapOut">
    <wsdl:part name="parameters" element="tns:TeeKiinteistonTunnistusKyselyResponse" />
  </wsdl:message>
  <wsdl:portType name="SoSoSoap">
    <wsdl:operation name="HaeTuotteenSkeema">
      <wsdl:input message="tns:HaeTuotteenSkeemaSoapIn" />
      <wsdl:output message="tns:HaeTuotteenSkeemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonTunnusKysely">
      <wsdl:input message="tns:TeeHenkilonTunnusKyselySoapIn" />
      <wsdl:output message="tns:TeeHenkilonTunnusKyselySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonTunnistusKysely">
      <wsdl:input message="tns:TeeHenkilonTunnistusKyselySoapIn" />
      <wsdl:output message="tns:TeeHenkilonTunnistusKyselySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonPoimintaKysely">
      <wsdl:input message="tns:TeeHenkilonPoimintaKyselySoapIn" />
      <wsdl:output message="tns:TeeHenkilonPoimintaKyselySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeeRakennusTunnusKysely">
      <wsdl:input message="tns:TeeRakennusTunnusKyselySoapIn" />
      <wsdl:output message="tns:TeeRakennusTunnusKyselySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeeRakennuksenTunnistusKysely">
      <wsdl:input message="tns:TeeRakennuksenTunnistusKyselySoapIn" />
      <wsdl:output message="tns:TeeRakennuksenTunnistusKyselySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeeKiinteistoTunnusKysely">
      <wsdl:input message="tns:TeeKiinteistoTunnusKyselySoapIn" />
      <wsdl:output message="tns:TeeKiinteistoTunnusKyselySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TeeKiinteistonTunnistusKysely">
      <wsdl:input message="tns:TeeKiinteistonTunnistusKyselySoapIn" />
      <wsdl:output message="tns:TeeKiinteistonTunnistusKyselySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoSoSoap" type="tns:SoSoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HaeTuotteenSkeema">
      <soap:operation soapAction="http://tempuri.org/HaeTuotteenSkeema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonTunnusKysely">
      <soap:operation soapAction="http://tempuri.org/TeeHenkilonTunnusKysely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonTunnistusKysely">
      <soap:operation soapAction="http://tempuri.org/TeeHenkilonTunnistusKysely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonPoimintaKysely">
      <soap:operation soapAction="http://tempuri.org/TeeHenkilonPoimintaKysely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeRakennusTunnusKysely">
      <soap:operation soapAction="http://tempuri.org/TeeRakennusTunnusKysely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeRakennuksenTunnistusKysely">
      <soap:operation soapAction="http://tempuri.org/TeeRakennuksenTunnistusKysely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeKiinteistoTunnusKysely">
      <soap:operation soapAction="http://tempuri.org/TeeKiinteistoTunnusKysely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeKiinteistonTunnistusKysely">
      <soap:operation soapAction="http://tempuri.org/TeeKiinteistonTunnistusKysely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SoSoSoap12" type="tns:SoSoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HaeTuotteenSkeema">
      <soap12:operation soapAction="http://tempuri.org/HaeTuotteenSkeema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonTunnusKysely">
      <soap12:operation soapAction="http://tempuri.org/TeeHenkilonTunnusKysely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonTunnistusKysely">
      <soap12:operation soapAction="http://tempuri.org/TeeHenkilonTunnistusKysely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeHenkilonPoimintaKysely">
      <soap12:operation soapAction="http://tempuri.org/TeeHenkilonPoimintaKysely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeRakennusTunnusKysely">
      <soap12:operation soapAction="http://tempuri.org/TeeRakennusTunnusKysely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeRakennuksenTunnistusKysely">
      <soap12:operation soapAction="http://tempuri.org/TeeRakennuksenTunnistusKysely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeKiinteistoTunnusKysely">
      <soap12:operation soapAction="http://tempuri.org/TeeKiinteistoTunnusKysely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeeKiinteistonTunnistusKysely">
      <soap12:operation soapAction="http://tempuri.org/TeeKiinteistonTunnistusKysely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoSo">
    <wsdl:port name="SoSoSoap" binding="tns:SoSoSoap">
      <soap:address location="https://vtjkyselykoulutus2010.vrk.fi/SoSoWebSiteIP/soso.asmx" />
    </wsdl:port>
    <wsdl:port name="SoSoSoap12" binding="tns:SoSoSoap12">
      <soap12:address location="https://vtjkyselykoulutus2010.vrk.fi/SoSoWebSiteIP/soso.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
